*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}

h1 {
    margin: 125px 0px;
    padding: 0 50px;
    color: #fff;
    text-align: center;

}

.container {
    margin: 125px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; 
}

.cube {
    transform-style: preserve-3d;
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotateX(30deg) rotateY(30deg);
    animation: rotateCube 5s infinite cubic-bezier(0.68, -0.6, 0.32, 1.6);
    will-change: transform; 
}

.side {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(64, 64, 255, 0.75); 
    border: 1px solid #fff;
    border-radius: 75px;
}

.frontside {
    /* background-color: rgb(64, 64, 255, 0.5); */
    transform: translateZ(105px);
    /* animation: spin 5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    animation-iteration-count: infinite; */
}

.back {
    /* background-color: rgb(64, 64, 255, 0.5); */
    transform: rotateY(180deg) translateZ(105px); 
}

.left {
    /* background-color: rgb(64, 64, 255, 0.5); */
    transform: rotateY(-90deg) translateZ(105px); 
}

.right {
    /* background-color: rgb(64, 64, 255, 0.5); */
    transform: rotateY(90deg) translateZ(105px);
}

.top {
    /* background-color: rgb(64, 64, 255, 0.5); */
    transform: rotateX(90deg) translateZ(105px); 
}

.bottom {
    /* background-color: rgb(64, 64, 255, 0.5); */
    transform: rotateX(-90deg) translateZ(105px);
}


.side img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    animation: spin 5s infinite cubic-bezier(0.68, -0.6, 0.32, 1.6);
    will-change: transform; 
}






@keyframes rotateCube {
    0% {
        transform: rotateX(45deg) rotateY(45deg);
    }
    25% {
        transform: rotateX(-45deg) rotateY(45deg);
    }
    50% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    75% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    100% {
        transform: rotateX(45deg) rotateY(45deg);
    }
}



@keyframes spin {

    0%{
        scale: 0.5;
        transform: rotate(-45deg);
    }


    25% {
        scale: 1.25;

        transform: rotate(90deg);

    }

    50%{
        scale: 0.75;
        transform: rotate(-45deg);

    
    }

    75%{
        scale: 1.25;
        transform: rotate(90deg);
  
    }

    100%{
       scale: 0.5;
       transform: rotate(-45deg);

    }
}

/* @keyframes spin {

    0%{

        transform: rotate(0deg);

    }

    25%{
        transform: rotate(90deg);
    }

    50%{

        transform: rotate(180deg);

    
    }

    75%{
        transform: rotate(90deg); 
  
 
  
    }

    100%{

       transform: rotate(0deg);

    }
} */

@keyframes rotateImage {
    0% {
        transform: rotate(0deg); /* Start from normal position */
    }
    100% {
        transform: rotate(360deg); /* End at full rotation */
    }
}